@model IEnumerable<Reservation>
@{
    ViewBag.Title = "All Reservations";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="Viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h3>Reservation Index</h3>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">
            @TempData["message"]
        </div>
    }
    <table>
        <thead>
            <tr>
                <td>Reservation Number</td>
                <td>Customer Number</td>
                <td>Customer LastName</td>
                <td>Customer FirstName</td>
                <td>Room Number</td>
                <td>Room Category</td>
                <td>Room Unavailable</td>
                <td>Room Needs Cleaning</td>
                <td>Start Date</td>
                <td>End Date</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td>@r.ReservationId</td>
                    <td>@r.CustomerId</td>
                    <td>@r.Customer.FirstName</td>
                    <td>@r.Customer.LastName</td>
                    <td>@r.RoomId</td>
                    <td>@r.Room.Category</td>
                    <td>@r.Room.Unavailable</td>
                    <td>@r.Room.NeedsCleaning</td>
                    <td>@r.StartDate</td>
                    <td>@r.EndDate</td>
                    <td>@r.Amount</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>